<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Form</title>
    <style type="text/css" media="screen">
      body {
        /* background-color: skyblue; */
        padding: 0px 20px;
      }
      ul {
        padding: 2rem;
      }
      .form-container {
        border: 2px solid gray;
        border-radius: 2rem;
        padding: 20px 20px;
        background-color: rgb(134, 202, 17);
      }

      input {
        margin: 1rem;
        border-radius: 2px;
      }
      label {
        display: block;
        /* margin-top: 1em; */
      }

      input:valid {
        background-color: palegreen;
      }

      input:invalid {
        background-color: lightpink;
      }

      .submit-btn {
        padding: 0.5rem;
        margin: 1rem;
        border-radius: 0.5rem;
      }
      .submit-btn:hover {
        background-color: greenyellow;
      }
    </style>
  </head>
  <body>
    <h1>Profile Page</h1>
    <!-- <p>RESPONSE <%= JSON.stringify(user) %></p> -->
    <p>Welcome, <%= user.username %>!</p>
    <p>Role: <%= user.role %></p>
    <br />
    <b><%= message %></b>
  </body>
</html>
