<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>Add New User</p>
    <form action="/user">
      <label for="name">Name</label><input type="text" id="name" />
      <label for="email">Email</label><input type="email" id="email" />
      <label for="password">Password</label
      ><input type="password" id="password" />
      <label for="imageurl">Imageurl</label><input type="link" id="imageurl" />
    </form>
  </body>
</html>
